* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url(assets/bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    position: relative;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo {
    flex: 1;
}

.logo img {
    width: 20%;
    cursor: pointer;
}

nav {
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

nav ul li a:hover {
    color: #ff7f50;
}

.menu-icon {
    display: none;
    font-size: 40px;
    cursor: pointer;
    color: white;
}

.mobile-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999;
}

.mobile-nav ul {
    list-style: none;
    padding: 250px 0;
}

.mobile-nav ul li {
    padding: 10px;
    text-align: center;
}

.mobile-nav ul li a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.mobile-nav ul li a:hover {
    color: #ff7f50;
}

.mobile-nav .close-btn {
    position: absolute;
    text-decoration: none;
    top: 20px;
    right: 60px;
    font-size: 40px;
    color: white;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .navbar nav ul {
        display: none;
    }

    .logo img {
        width: 60%;
    }
}
